<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1><strong>Mission to Mars</strong></h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
  </div>

  <div class="container">  
    <div class="news">
      <div class="row" style="margin-left: 0px; margin-right: 0px;">  
        <div class="col-12">
          <h2><strong>Latest Mars News</strong></h2>
          <h4><strong>{{ mars.news_title }}</strong></h4>
          <p> {{ mars.news_p }} </p>
        </div>
      </div>  
    </div>

    <div class="image-and-facts">
      <div class="row ">
        <div class="col-xs-12 col-sm-12 col-md-8 col-8">
          <section class="image">
            <h2><strong>Featured Mars Image</strong></h2>
            <img src= "{{ mars.featured_image_url }}" alt="featured mars image" />
          </section>
        </div>
  
        <div class="col-xs-12 col-sm-12 col-md-4 col-4">
          <section class="facts">
            <h2><strong>Mars Facts</strong></h2>
            <div class="table">
              {{ mars.table|safe }}
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="hemispheres">
      <div class="row" style="margin-left: 0px; margin-right: 0px;">
        <div class="col-12" style="text-align: center;">
          <h2><strong>Mars Hemispheres</strong></h2>
          <hr>
        </div>
      </div>

      <!-- if statement add in order to avoid error: 'jinja2.exceptions.UndefinedError: 'None' has no attribute' when running this page for the first time -->
      {% if mars.hemispheres %}  
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card text-center border-secondary mb-3" style="width: 100%;">
              <img class="card-img-top" src= "{{ mars.hemispheres[0]['img_url'] }}" width="100%" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><strong> {{ mars.hemispheres[0]['title'] }} </strong></h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card text-center border-secondary mb-3" style="width: 100%;">
              <img class="card-img-top" src= "{{ mars.hemispheres[1]['img_url'] }}" width="100%" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><strong> {{ mars.hemispheres[1]['title'] }} </strong></h4>
              </div>
            </div>
          </div>
        </div>
  
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card text-center border-secondary mb-3" style="width: 100%;">
              <img class="card-img-top" src= "{{ mars.hemispheres[2]['img_url'] }}" width="100%" alt="Card image cap">
                <div class="card-body">
                <h4 class="card-title"><strong> {{ mars.hemispheres[2]['title'] }}  </strong></h4>
              </div>
            </div>
          </div>

          <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="card text-center border-secondary mb-3" style="width: 100%;">
              <img class="card-img-top" src= "{{ mars.hemispheres[3]['img_url'] }}" width="100%" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"><strong> {{ mars.hemispheres[3]['title'] }}  </strong></h4>
              </div>
            </div>  
          </div>
        <div>
     {% endif %}

    </div>
  </div>

</body>

</html>
