#T_31b083c8_a8ae_11eb_8eb6_3059b70bf0b9 tr td.col0 {
    font-style: italic;
    padding-right: 10px;
    border-top: 1px solid #dee2e6;
}

#T_31b083c8_a8ae_11eb_8eb6_3059b70bf0b9 tr {
    line-height: 2.4;
}

h2 {
    color: coral;
}